@font-face {
  font-family: 'patchy-robots';
  src: url('patchy-robots.otf');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: #212121;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  font-family: 'patchy-robots';
  font-size: 10vh;
}
