@font-face {
  font-family: "patchy-robots";
  src: url("patchy-robots.otf");
}

body {
  align-items: center;
  background: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.title {
  font-family: "patchy-robots";
  font-size: 5vw;
  margin: 30px;
}

.gifs {
  display: flex;
}

.weirdo-gif {
  height: 268px;
  width: 270px;
  object-fit: cover;
}

.pad {
  margin: 10px;
}

.yt-video {
  aspect-ratio: 16/9;
  width: 100%;
}

.contact {
  display: flex;
}

.contact > a > img {
  height: 2vw;
}
